/*********头部****************/
body{
    background-color: #f6f7fb;
}
.Tiny-head .Tiny-agreement{
    color:#fff;
    display: flex;
    font-size:20px;
    font-weight:normal;
    display:inline-block;
    line-height:60px;
    margin-left:6.5rem;
}
/**********************/
/*********协议内容部分**********/

.T-title{
    margin-top:4.5rem;
}
.T-title .T-title-agreement{
    text-align:center;
    font-weight:normal;
    font-size:23px;
}
.T-title .subtitle{
    font-weight:900;
    margin-left:0.8rem;
}
.T-title .subtitle-se{
    margin-left:0.6rem;
    line-height:1.3rem;
    font-size:15px;
}
.T-title .small-title{
    margin-left:0.8rem;
    line-height:1.3rem;
    font-size:14px;
}
.T-title .end{
    margin-top:1.8rem;
    margin-left:0.8rem;
}