body{
    background-color: #f6f7fb;
}
/*******顶部***********/
.Tiny-head{
    background-color:orange;
    position:fixed;
    width: 100%;
    top:0;
    left:0;
    height: 60px; 
    color: #fff;
    line-height: 60px;
    display:flex;
    justify-content: flex-start;
    align-items: center;
}
.Tiny-head .Tiny-return{
    display: inline-block;
    margin-left:0.8rem;
}
.Tiny-head .Tiny-login{
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    margin-left: 8.8rem;
}
/*****************************/
/*************文本框**********/
.Tiny-txt{
    margin-top: 5.8rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
}
.Tiny-text input,.Tiny-pwd input{
    border: 0;
    background-color: #fff;
    width: 17.8rem;
    line-height: 35px;
    margin-left:0.8rem;
    border-radius: 1px;
    outline: none;
}
.Tiny-txt .Tiny-text{
    background-color: #fff;
    height:35px;
    margin-bottom: 0.8rem;
    border-radius:1px; 
    overflow: hidden;
}
.Tiny-txt .Tiny-pwd{
    background-color: #fff;
    height:35px;
    border-radius:1px; 
    overflow: hidden;
}
.Tiny-txt .Tiny-text span,.Tiny-pwd span{
    margin-left: 0.8rem;
    display: inline-block;
    height: 35px;
}
/*********忘记密码**********/
.forget {
    color:#B1B5B4;
    font-size: 14px;
    margin-top:0.8rem;
    display: flex;
    justify-content: flex-end;
    margin-right: 2.8rem;
}
/********************************/

/************登录按钮部分******************/
.Tiny-btn{
    display: flex;
    justify-content:center;
    flex-direction:column;
    margin-top: 0.8rem;
    align-items: center;
    font-size: 14px;
}
.Tiny-btn button{
    width: 20.8rem;
    height: 30px;
    background-color: #f6f7fb;
}
.Tiny-btn :first-child{
    margin-bottom: 1.8rem;
    border:1px solid #BCCE7C;
    color:#A9C055;   
}
.Tiny-btn :last-child{
    border:1px solid #80BBB1;
    color: #62C2A8;
}
/******************************/
/*************第三方登录*****************/
.container-Tiny{
    display: flex;
    margin-top:0.8rem;
    justify-content:space-around;
}

.container-Tiny .third{
    width: 7rem;
    border-top: 1px solid #e8e8e8;
}
.container-Tiny .third-left{
    margin-left:0.8rem;
    margin-top:0.8rem;
}
.container-Tiny .third-txt{
     margin-top:0.5rem; 
     font-size:12px;
     color: #D4D5D9;
}
.container-Tiny .third-right{
    margin-right:0.8rem;
    margin-top:0.8rem;
}
.tool-Tiny{
    display: flex;
    justify-content:center;
    margin-top:0.8rem;
}
.tool-Tiny img{
    width: 1.8rem;
    margin-left:0.8rem;
    margin-right:0.8rem;
}

/*******************************/
/****************底部******************/
.Tiny-footer{
    display: flex;
    justify-content:center;
    margin-top: 15.8rem;
    font-size:12px;
    color: #C1C2C6;
}
.Tiny-footer a{
    color:#9FBC37;
    text-decoration:none;
}